* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: roboto, arial;
}

h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

h3 {
    font-size: 24px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 10%;
    background-color: #1f2937;
    gap: 16px;
    flex: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #e5e7eb;
    width: 50%;
}

.hero-text > p {
    font-size: 18px;
}

.hero-image {
    width: 400px;
    height: 250px;
    background-color: grey;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 2em 10%;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.info-image {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.signup-button {
    padding: 0.5em 2em;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}

.info-tiles {
    display: flex;
    padding: 1.5em 0;
}

.info-tile {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.quote {
    padding: 2em 25%;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.cta {
    padding: 2em 0;
}

.cta-detail {
    width: 80%;
    margin: 0 auto;
    padding: 1em 3em;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.cta-detail p {
    color: #f9faf8;
}

.cta-main {
    font-size: 24px;
}

.cta-sec {
    /* font-size: 18px; */
    color: #e5e7eb;
}

footer {
    text-align: center;
    padding: 2em;
    background-color: #1f2937;
    color: #f9faf8;
}